<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Tenkovi online</title>
    <link media="all" rel="stylesheet" href="css/bootstrap.min.css" />
    <link media="all" rel="stylesheet" href="css/main.css" />
</head>
<body>
<div id="container">
    <h1 class="text-center">Tenkovi online <small>Za bolju nastavu informatike</small></h1>
    <p class="center-block text-center text-info">Projekt napravljen radi lakšeg igranja pod tenkova pod informatikom. Samo pošaljite link u kojem jeste (s ovim random generiranim stringom) nekom i bit cete u igri.</p>
    <div id="canvas-container">
        <canvas id="main" width="500" height="500">
            Tvoj browser ne podrzava canvas
        </canvas>
    </div>

</div>

<script>
    var igra = '<%= gameOptions.game %>';
</script>
<script src="https://cdn.socket.io/socket.io-1.3.5.js"></script>
<script src="lib/dependencies/jquery.min.js"></script>
<script src="lib/dependencies/easeljs-0.8.1.combined.js"></script>
<script src="lib/dependencies/bootstrap.min.js"></script>
<script src="lib/app.bundle.js"></script>
</body>
</html>
