body{
    background: rgba(229, 229, 229, 0.78);
}

p{
    width: 550px;
}

#canvas-container{
    width: 550px;
    height: 550px;
    margin: 50px auto;
    display: block;
}

canvas{
    border: 3px solid #000000;
    background: #ffffff;
    margin-left: 25px;
}